/* sheared style */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
   font-family: 'Lato', sans-serif;
}

.section {
    margin: 20px 200px;
    height: 600px;
    padding: 50px 0;
}

.btn-primary {
    border-radius: 10px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 20px 40px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    padding-left: 300px;
    padding-right: 300px;
}

/* Header style */
.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30Px 120px 0px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
}

.banner-content {
    max-width: 600px;
}

.banner .banner-img {
    width: 600px;
}

/* Featured section style */

.section-title,
.section-description {
    text-align: center;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 600;
}

.featured-image-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 20px;
}

.featured-image {
    height: 300px;
    width: 200px;
    padding: 75px 50px 0 50px;

}

.featured-img1 {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;

}

.featured-img2 {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.featured-img3 {
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}

figcaption {
    color: #272727;
    background-color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-top: 30px;
}

/* optional section */
.optional-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 80px 200px;
}

.opt-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;
}

